.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background-color: #ffffff;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-green);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-muted);
    font-weight: 500;
}

.nav-links a.active {
    background-color: var(--light-green);
    color: var(--primary-green);
    padding: 6px 14px;
    border-radius: 20px;
}
